.title-skill,
h5,
p {
  color: #00e08d;
}

.accordion {
  max-width: 900px;
  justify-content: center;
}
.accordion-body {
  background-color: #0b5050;
}

.accordion-button {
  background-color: #1c6473;
  border: none;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #23879b !important;
  color: white !important;
}
